{% extends '_base.html' %}
{% load static %}

{% block styles %}

{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col mb3">
                {% include '_search_bar.html' %}
            </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">
                <div style="
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            ">{% include '_button.html' %}</div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-2">
        <div class="row">
            {% for movie in movies %}
                {% include 'movie/movie_card.html' with movie=movie %}
            {% endfor %}
        </div>
    </div>

    <div class="container-fluid">
        <div class="row" >
            <div class="col"></div>
            <div class="col">
                {% include '_pagination.html' with page_obj=page_obj %}
            </div>
            <div class="col"></div>
        </div>
    </div>

{% endblock content %}
