{% extends '_base.html' %}

{% block content %}

<style>
    .jaehun_flex {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
</style>

    <div class="container-fluid mt-2 w-100">
        <div class="row mb-3">
            <div class="col jaehun_flex">
                {% include '_search_bar.html' %}
            </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">
                <div class="jaehun_flex">{% include '_button.html' %}</div>
            </div>
        </div>

        <div class="row">
            {% for person in persons %}
                {% include 'movie/_card.html' with object=person type=type %}
            {% endfor %}
        </div>

        <div class="row justify-content-md-center" >
            <div class="col">
                {% include '_pagination.html' with page_obj=page_obj %}
            </div>
        </div>
    </div>
{% endblock content %}
