{% extends '_table.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block table-title %}
    {{ title }}
{% endblock table-title %}

{% block headers %}
<style>
    .jaehun_flex {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .jh2{
        padding-top: 28px;
    }
    .jh-m{
        margin: 30px 0

    .jh-date {
        margin: 5px 0 0 5px;
    }
</style>

<div class="container-fluid jh-m">
    <div class="row mb-3">
        <div class="col jh2"><input type="date" class="jh-date"/></div>
        <div class="col ">
            {% include '_search_bar.html' %}
        </div>
        <div class="col"></div>
        <div class="col jaehun_flex jh2">
            <div class="jaehun_flex">{% include '_button.html' %}</div>
            <div class="jaehun_flex">{% include '_modify_button.html' %}</div>
        </div>
    </div>
</div>
    <tr>
        <th>광역</th>
        <th>지역</th>
        <th>이름</th>
        <th>2D</th>
        <th>3D</th>
        <th>주소</th>
    </tr>
{% endblock headers %}

{% block bodies %}
    {% for cinema in cinemas %}
        <tr>
            <td>{{ cinema.main_region }}</td>
            <td>{{ cinema.sub_region }}</td>
            <td>{{ cinema.name|truncatechars:"15" }}</td>
            <td>{{ cinema.two_dimension_count }}</td>
            <td>{{ cinema.three_dimension_count }}</td>
            <td>{{ cinema.address|truncatechars:"50" }}</td>
        </tr>
    {% endfor %}
{% endblock bodies %}
